<!DOCTYPE html>
<html>
<head>
    <title>{{ evenement.titre }}</title>
</head>
<body>
    <h1>{{ evenement.titre }}</h1>
    <p>Date : {{ evenement.date }}</p>
    {% if evenement.heure_debut %}
        <p>Heure de début : {{ evenement.heure_debut }}</p>
    {% endif %}
    {% if evenement.heure_fin %}
        <p>Heure de fin : {{ evenement.heure_fin }}</p>
    {% endif %}
    {% if evenement.lieu %}
        <p>Lieu : {{ evenement.lieu }}</p>
    {% endif %}
    {% if evenement.description %}
        <p>Description : {{ evenement.description }}</p>
    {% endif %}
    {% if evenement.participants.all %}
        <p>Participants :
            <ul>
                {% for user in evenement.participants.all %}
                    <li>{{ user.username }}</li>
                {% endfor %}
            </ul>
        </p>
    {% endif %}
    <p><a href="{% url 'evenements:liste' %}">Retour à la liste</a></p>
</body>
</html>